* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

:root {
  --trans: all 0.35s ease-in-out;
}

body {
  zoom: 1.1;
  background: #fff;
}

@media (min-width: 2200px) {
  body {
    zoom: 1.45;
  }
}

@media (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}

.container {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 90px;
}

.container1 {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 42px;
}

@media screen and (max-width: 610px) {
  .container {
    padding: 0 15px;
  }

  .container1 {
    padding: 0 15px;
  }
}

html {
  scroll-behavior: smooth;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8823529412);
  padding: 10px 30px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  left: 0;
}

.left__logo {
  width: 125px;
  height: 50px;
}

.left__logo img {
  width: 100%;
  height: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
  margin-right: 65px;
  margin-left: 65px;
}

.header__item {
  position: relative;
}

.header__item a {
  color: #7d7987;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  transition: var(--trans);
}

.header__list a.active {
  color: #f49b1d;
}

.header__btn,
.header__btn_b {
  border-radius: 61.25px;
  background: #71b6f2;
  color: #fff;
  font-family: Raleway;
  font-size: 21.448px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.072px;
  display: flex;
  width: 245px;
  padding: 17.158px 34.317px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: var(--trans);
}

.header__btn:hover,
.header__btn_b:hover {
  background: #f49b1d;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__item::after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 50%;
  width: 0;
  height: 1.5px;
  background-color: #f49b1d;
  transition: var(--trans);
}

.header__item a:hover {
  color: #f49b1d;
}

.header__item:hover::after {
  width: calc(100% + 40px);
  left: -20px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger:hover svg path {
  stroke: #f49b1d;
}

.burger svg path {
  transition: var(--trans);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99998;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 30px;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.mobile-menu ul li {
  margin: 20px 0;
}

.mobile-menu ul li a {
  color: #7d7987;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: var(--trans);
}

.mobile-menu ul li a:hover {
  color: #f49b1d;
}

.header__btn_b {
  position: absolute;
  bottom: 100px;
}

.close__burger {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9;
}

.close__burger:hover svg path {
  fill: #f49b1d;
}

.close__burger svg path {
  transition: var(--trans);
}

@media (max-width: 1300px) {

  .header__list,
  .header__btn {
    display: none;
  }

  .burger {
    display: flex;
  }

  .mobile-menu.active {
    display: flex;
  }
}

.section__hero {
  padding-top: 100px;
  padding-bottom: 65px;
}

.section__hero .container1 {
  position: relative;
}

.hero__img {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.hero__img img {
  width: 100%;
}

@media (max-width: 900px) {
  .hero__img {
    flex-direction: column;
  }
}

.hero__right {
  margin-top: 42px;
}

.hero__social {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero__social a svg path {
  transition: var(--trans);
}

.hero__social a:hover svg path {
  fill: #f49b1d;
}

.hero_eye {
  position: fixed;
  right: 65px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transition: var(--trans);
  bottom: 90px;
  z-index: 9999;
  cursor: pointer;
}

.hero_eye:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.section__adbout {
  margin-top: 35px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.about__title {
  border-radius: 0px 50px 50px 0px;
  border-top: 2px solid #ffc200;
  border-bottom: 2px solid #ffc200;
  border-right: 2px solid #ffc200;
  background: rgba(255, 234, 194, 0);
  width: 100%;
  max-width: 620px;
}

.about__title h2 {
  color: #0b315e;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 62px;
  text-align: end;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__left {
  width: 100%;
  max-width: 674px;
  margin-top: 46px;
  margin-bottom: 30px;
}

.about__left p {
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__rigth img {
  width: 100%;
}

@media (max-width: 1060px) {
  .about__container {
    flex-direction: column-reverse;
  }
}

.section__project {
  margin-top: 20px;
  padding-top: 80px;
}

.section__project h2 {
  color: #0b315e;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.project__slider {
  padding-left: 30px !important;
}

.swiper-wrapper {
  padding-bottom: 100px;
}

.swiper-slide {
  height: 700px !important;
  border-radius: 40px;
  transition: var(--trans);
  padding-bottom: 10px;
}

.swiper-slide:hover {
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.23);
}

.slider__img {
  width: 100%;
  height: 340px;
}

.slider__img img {
  width: 100%;
  height: 100%;
}

.slide_cont {
  padding: 10px 35px;
  height: 250px;
  overflow: hidden;
}

.slide_cont h3 {
  color: #000;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.slide_cont p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

.project__btn {
  width: 281.921px;
  padding: 25.825px 51.65px;
  justify-content: center;
  align-items: center;
  border-radius: 86.083px;
  border: 4.304px solid #4cc2eb;
  color: #000;
  font-family: Raleway;
  font-size: 30.129px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 30.129px */
  letter-spacing: -1.506px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #fff;
  margin-left: 30px;
  position: absolute;
  transition: var(--trans);
  bottom: 10px;
}

.project__btn:hover {
  background-color: #4cc2eb;
  color: #fff;
}

.custom__prev::after {
  content: url(../img/arrow__left.svg) !important;
  width: 40px !important;
  height: 40px !important;
}

.custom__next::after {
  content: url(../img/arrow__left.svg) !important;
  width: 40px !important;
  height: 40px !important;
  transform: rotate(180deg);
}

.custom__prev {
  top: 95% !important;
  left: 47% !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: var(--trans);
}

.custom__prev:hover {
  background-color: #eca848;
}

.custom__next {
  top: 95% !important;
  left: 53% !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: var(--trans);
}

.custom__next:hover {
  background-color: #eca848;
}

@media (max-width: 1100px) {
  .custom__prev {
    left: 45% !important;
  }

  .custom__next {
    left: 55% !important;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  width: 80%;
  max-width: 700px;
  position: relative;
  border-radius: 50px;
  border: 1.014px solid #f49b1d;
  background: #fffdf9;
  transform: translateY(-20%);
}

.popup-content-s {
  padding: 0px 30px 70px 30px;
}

.popup-img img {
  width: 100%;
  height: auto;
}

.popup-content h3 {
  margin-top: 20px;
  font-size: 22.478px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popup-content p {
  margin-top: 10px;
  font-size: 15.453px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.close {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 24px;
  cursor: pointer;
  color: #eca848;
}

.section__object {
  padding-top: 70px;
}

.object__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1170px) {
  .object__container {
    flex-direction: column;
  }
}

.object__left {
  width: 536px;
}

.object__left h2 {
  color: #0b315e;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.object__list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 536px;
}

@media (max-width: 655px) {
  .object__left {
    width: 100%;
  }

  .object__list {
    width: 100%;
  }
}

.object__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.object__item p {
  color: #0b315e;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.6px;
}

.object__item p img {
  width: 35px;
  height: 35px;
}

.object__rigth {
  width: 100%;
  max-width: 810px;
}

.object__rigth img {
  width: 100%;
}

.section__object-card {
  padding-top: 80px;
}

.section__object-card .container {
  position: relative;
}

.section__object-card img {
  position: absolute;
}

.section__object-card p {
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section__object-card h3 {
  color: #0b315e;
  font-family: Raleway;
  font-size: 31.874px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 31.874px */
  letter-spacing: -1.594px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.object__1 {
  top: 40px;
  left: 150px;
  width: 100%;
  max-width: 400px;
  position: absolute;
}

.object__2 {
  bottom: 40px;
  left: 150px;
  width: 100%;
  max-width: 70px;
  position: absolute;
}

.object__3 {
  right: 300px;
  top: 60px;
  width: 100%;
  max-width: 100px;
  position: absolute;
}

.object__4 {
  bottom: -100px;
  right: 140px;
  width: 100%;
  max-width: 500px;
  position: absolute;
}

.object-card__container {
  display: flex;
  flex-direction: column;
}

.object__card-top {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 755px;
  height: 261px;
  padding: 57px 40px;
  backdrop-filter: blur(50.9991760254px);
  background-image: url(../img/object_card.svg);
  border-radius: 62px;
  margin-bottom: 20px;
  align-self: start;
  transition: var(--trans);
}

.object__card-top:hover {
  transform: scale(1.03);
}

.object__card-bot {
  backdrop-filter: blur(50.9991760254px);
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 755px;
  height: 261px;
  padding: 57px 40px;
  background-image: url(../img/object_card.svg);
  border-radius: 62px;
  align-self: end;
  transition: var(--trans);
}

.object__card-bot:hover {
  transform: scale(1.03);
}

.section__help {
  margin-top: 50px;
  padding-top: 100px;
}

.help__container {
  border-radius: 100px;
  border: 2px solid #f49b1d;
  background: rgba(255, 242, 242, 0.42);
  padding: 67px 87px 59px 63px;
}

.help__title {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 960px) {
  .help__title {
    flex-direction: column;
  }
}

.help__info h3 {
  color: #0b315e;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.help__info p {
  color: #114a82;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 24px */
  letter-spacing: -1.2px;
  width: 100%;
  max-width: 980px;
}

.help__btn {
  display: flex;
  width: 320px;
  height: 68px;
  padding: 11.462px 22.923px;
  justify-content: center;
  align-items: center;
  gap: 14.327px;
  flex-shrink: 0;
  border-radius: 34.385px;
  border: 3px solid #ffc200;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
  cursor: pointer;
  background-color: transparent;
  margin: 67px auto 0;
  transition: var(--trans);
}

.help__btn:hover {
  background-color: #ffc200;
  color: #fff;
}

@media (max-width: 480px) {
  .help__btn {
    width: 100%;
  }
}

.section__service {
  padding-top: 130px;
}

.section__service h2 {
  color: #0b315e;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  text-transform: uppercase;
}

.service__container {
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 65px;
  row-gap: 20px;
  list-style: none;
}

@media (max-width: 1200px) {
  .service__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/service_card.svg);
  width: 450px;
  height: 280px;
  backdrop-filter: blur(48.621799469px);
  z-index: 10;
  position: relative;
  border-radius: 62px;
  padding: 30px;
  transition: var(--trans);
}

.service__item:hover {
  transform: scale(1.03);
}

.service__item img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 18px;
}

.service__item h3 {
  color: #000;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 32px */
  letter-spacing: -1.6px;
  text-align: left;
}

@media (max-width: 510px) {
  .service__item {
    width: 100%;
  }
}

.service_img_1 {
  position: absolute;
  left: 180px;
  top: 0px;
  width: 100%;
  max-width: 270px;
}

.service_img_2 {
  position: absolute;
  left: 56%;
  top: 41%;
  width: 100%;
  max-width: 90px;
}

.service_img_3 {
  position: absolute;
  right: -20px;
  bottom: 100px;
  width: 100%;
  max-width: 240px;
}

.service_img_4 {
  position: absolute;
  top: 50px;
  left: 55%;
  width: 100%;
  max-width: 160px;
}

.service_img_5 {
  position: absolute;
  left: 100px;
  top: 54%;
  width: 100%;
  max-width: 160px;
}

.section__support {
  padding-top: 135px;
  padding-bottom: 50px;
}

.section__support h2 {
  color: #0b315e;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.support__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 243px;
}

@media (max-width: 1200px) {
  .support__container {
    flex-direction: column;
    height: auto;
  }

  .support__container img {
    width: 100%;
  }
}

.section__access {
  margin-top: 10px;
  padding-top: 75px;
}

.access__container {
  border-radius: 71.234px;
  border: 1.425px solid #ffc200;
  background: rgba(255, 234, 194, 0);
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 54px 40px 60px 18px;
}

.access__container h2 {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 28.494px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 28.494px */
  letter-spacing: -1.425px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.access__box {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.access__box img {
  width: 100%;
  max-width: 480px;
}

.access__info {
  width: 360px;
}

@media (max-width: 500px) {
  .access__info {
    width: 100%;
  }
}

.form__title {
  color: #0b315e;
  font-family: Raleway;
  font-size: 20.558px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 20.558px */
  letter-spacing: -1.028px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__input {
  border-radius: 25.697px;
  border: 2px solid #000;
  background: rgba(78, 75, 83, 0);
  padding: 15px 20px;
  color: #000;
  font-family: Arial;
  font-size: 16.446px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-bottom: 25px;
  outline: none;
  transition: var(--trans);
}

.form__input:focus {
  border-color: #f49b1d;
}

.form__input::placeholder {
  color: #878585;
  font-family: Arial;
  font-size: 16.446px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.form__btn {
  display: flex;
  width: 235px;
  padding: 21.527px 43.053px;
  justify-content: center;
  align-items: center;
  gap: 17.939px;
  border-radius: 71.756px;
  border: 3.588px solid #4cc2eb;
  color: #000;
  font-family: Raleway;
  font-size: 25.115px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 25.115px */
  letter-spacing: -1.256px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 64px auto 0px;
  background-color: transparent;
  transition: var(--trans);
}

.form__btn:hover {
  background-color: #4cc2eb;
  color: #fff;
}

.error {
  border: 2px solid red;
  animation: shake 0.5s;
}

.valid {
  border: 2px solid green;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1100px) {
  .access__box {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .access__box img {
    margin: auto;
  }

  .access__info {
    margin: auto;
  }
}

.section__volonter {
  padding-top: 67px;
  padding-bottom: 80px;
}

.container__volonter {
  display: flex;
}

.container__volonter img {
  width: 100%;
  max-width: 500px;
}

.left__volonter {
  margin-top: 115px;
}

.left__volonter h2 {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.left__volonter p {
  color: #114a82;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 24px */
  letter-spacing: -1.2px;
  margin-bottom: 40px;
}

.volonter__btn {
  display: flex;
  width: 289px;
  height: 68px;
  padding: 11.462px 22.923px;
  justify-content: center;
  align-items: center;
  gap: 14.327px;
  flex-shrink: 0;
  border-radius: 34.385px;
  border: 2px solid #ffc200;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  letter-spacing: -1px;
  cursor: pointer;
  margin: 0px auto;
  background-color: transparent;
  transition: var(--trans);
}

.volonter__btn:hover {
  background-color: #ffc200;
  color: #fff;
}

@media (max-width: 1100px) {
  .container__volonter {
    flex-direction: column;
  }

  .container__volonter img {
    margin: auto;
  }
}

@media (max-width: 350px) {
  .volonter__btn {
    width: 100%;
  }
}

.footer__top {
  background: #4089ed;
  padding-top: 56px;
}

.footer__list {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 80px;
}

.footer__item h3 {
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.footer__item a {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: var(--trans);
}

.footer__item a:hover {
  color: #f49b1d;
}

.footer__item_a a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: var(--trans);
  font-family: Arial, Helvetica, sans-serif;
}

.footer__item input {
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  border-radius: 50px;
  border: 0.838px solid #fff;
  color: #fff;
  font-family: Arial;
  font-size: 20.107px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 25px;
}

.footer__email_form {
  position: relative;
}

.paper {
  background-image: url(../assets/images/paper.svg);
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
  gap: 12px;
  transform: translateY(-10%);
}

.social a svg path {
  transition: var(--trans);
}

.social a:hover svg path {
  fill: #f49b1d;
}

.footer__botom {
  background: #33bae9;
}

@media (max-width: 676px) {
  .footer__item h3 {
    font-size: 20px;
  }

  .footer__item a,
  .footer__item p {
    font-size: 16px;
  }

  .footer__item:nth-child(2) {
    margin-right: 0px;
  }
}

.footer__private_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 16px;
}

.footer__private_item {
  padding: 10px 0;
}

.footer__private_item a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}

.footer__private_item a:hover {
  color: #ffa319;
}

.form_default {
  padding: 65px 50px;
  border-radius: 72.149px;
  border: 1.443px solid #f49b1d;
  background: #fffdf9;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999998;
}

.form_complaint {
  padding: 65px 50px;
  border-radius: 72.149px;
  border: 1.443px solid #f49b1d;
  background: #fffdf9;
  width: 100%;
  max-width: 790px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.form__textare {
  resize: none;
}

@media (max-width: 700px) {
  .object__1 {
    max-width: 200px;
    left: 60px;
  }

  .object__4 {
    max-width: 250px;
  }

  .service_img_3 {
    max-width: 120px;
    right: 50px;
  }

  .service_img_1 {
    max-width: 120px;
    left: 100px;
  }

  .service_img_4 {
    max-width: 80px;
  }
}

@media (max-width: 450px) {
  .hero_eye {
    width: 85px;
    height: 85px;
  }

  .project__slider {
    padding-left: 0px !important;
  }

  .slider__img {
    height: 190px;
  }

  .swiper-slide {
    height: 400px !important;
  }

  .slide_cont h3 {
    font-size: 17px;
  }

  .slide_cont p {
    font-size: 15px;
  }

  .project__btn {
    height: 40px;
    font-size: 16px;
    padding: 0px;
    width: 150px;
  }

  .slide_cont {
    height: 150px;
  }

  .custom__prev {
    left: 42% !important;
  }

  .custom__next {
    left: 58% !important;
  }

  .object__left h2 {
    font-size: 36px;
  }

  .object__item p {
    font-size: 22px;
  }

  .object__item img {
    width: 24px;
    height: 24px;
  }

  .section__object-card p {
    font-size: 18px;
  }

  .section__object-card h3 {
    font-size: 23px;
  }

  .help__info h3 {
    text-align: center;
    font-size: 36px;
  }

  .help__info p {
    font-size: 22px;
  }

  .help__container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .service__item h3 {
    font-size: 25px;
  }

  .service_img_1 {
    top: 200px;
    max-width: 200px;
    left: 50px;
  }

  .service_img_2 {
    max-width: 150px;
    left: 150px;
  }

  .access__container h2 {
    font-size: 24px;
  }

  .form__title {
    font-size: 16px;
  }

  .access__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .left__volonter h2 {
    font-size: 36px;
  }

  .help__container {
    border-radius: 60px;
  }

  .access__container {
    border-radius: 60px;
  }

  .section__support h2 {
    font-size: 36px;
  }

  .social {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  #contact {
    position: relative;
  }

  .footer__list {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  .footer__top {
    padding-top: 20px;
  }

  #popup-text {
    height: 320px;
    overflow: scroll;
  }

  .popup-content {
    width: 100%;
    transform: translateY(2%);
  }
}



@media (max-width: 348px) {
  .section__object-card p {
    font-size: 16px;
  }

  .help__info p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styled.css.map */